<footer class="footer text-white d-flex flex-wrap flex-md-nowrap justify-content-around align-items-center py-5"
    role="contentinfo" style="background-color: #204c35;">
    <div class="px-4 px-md-2 ml-md-5">
        <div class="text-md-start">
            <h2>Studentenes bridgeklubb</h2>
            <p><small>
                    Studentenes bridgeklubb ble stiftet på Studentersamfundet i Trondheim i 1952.
                    Klubben spiller mandager på Kjelhuset, Gløshaugen.
                    Klubben hevder seg på regionalt, nasjonalt og internasjonalt nivå, men er også en
                    klubb som legger til rette for rekruttering av nye bridgespillere.

                </small>
            </p>
            <a href="/">
                <img src="/mstile-150x150.png" alt="Studentenes bridgeklubb hjem" />
            </a>
        </div>
    </div>
    <div class="p-1 w-75 text-center">
        <a href="mailto:hilde.nost@gmail.com" class="text-light">
            <i class="fa fa-at footer-icons-contact px-2"></i><small>hilde.nost@gmail.com</small>
        </a><br />
        <small style="color: #e4e5d3">Org. nr. 994 886 878</small><br />
        <a href="https://www.norsk-tipping.no/grasrotandelen/din-mottaker/994886878"
            class="text-light"><small>Grasrotandelen</small></a>
        <p>
        <h5 style="color: #e4e5d3">Lenker</h3>
            <a href="www.mtbridge.org" class="text-light">Midt-Trøndelag krets</a><br />
            <a href="www.bridge.no" class="text-light">Norges bridgeforbund</a><br />
            <a href="www.juniorbridge.no" class="text-light">Norsk juniorbridge</a>

            </p>
            <div>
                <p class="small" style="color: #e4e5d3">Copyright <i class="fa-regular fa-copyright"></i>
                    {{ dateFormat "2006"
                    now
                    }} Studentenes bridgeklubb</p>
            </div>
    </div>

</footer>