<nav class="navbar navbar-expand navbar-light bg-transparent">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="/">
            {{ .Site.Title }}
        </a>
    </div>
    <div class="flex-grow-1 text-right" id="myNavbar">
        <div class="navbar-nav">
        <ul class="navbar-nav ml-auto flex-nowrap">
    {{ range .Site.Menus.main }}
        {{ $text := .Name | safeHTML }}
        <li class="nav-item">
        <a class="nav-link m-2 menu-item" href="{{ .URL }}">{{ $text }} </a>
        </li>
    {{ end }}
        </ul>
        </div>
    </div>
</nav>
