<nav id="top-of-page" class="navbar navbar-expand navbar-light bg-transparent">
    <div class="d-flex flex-grow-1">
        <a class="navbar-left" href="/">
            <img src="/android-chrome-192x192.png" alt="Logoen viser et spar-, hjerter-, ruter- og kløversymbol omkranset av en studenterlue" height="40" />
        </a>
        <a class="navbar-brand d-none d-md-inline-block" href="/">
            {{ .Site.Title }}
        </a>
    </div>
    <div class="flex-grow-1 text-right" id="myNavbar">
        <div class="navbar-nav">
        <ul class="navbar-nav ml-auto flex-nowrap">
    {{ range .Site.Menus.main }}
        {{ $text := .Name | safeHTML }}
        <li class="nav-item">
        <a class="nav-link m-sm-2 menu-item" href="{{ .URL }}">{{ $text }} </a>
        </li>
    {{ end }}
        </ul>
        </div>
    </div>
</nav>
